*{
    margin: 0;
    padding: 0;
    background-color: black;
   
}

h1{
    color: rgb(34, 151, 19);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    padding: 25px;
}

header{
    width: auto;
    height: 10px;
    text-align: center;
    padding: 10px;
}

.tooltip {
    display: inline-block;
    font-size: 4em;
    color: rgb(34, 151, 19);
    font-family: Ruda;
    cursor: pointer;
    text-align: center;
  }
  
.tooltip .tooltip-text {
    visibility: hidden;
    width: 520px;
    background-color: rgb(197, 236, 145);
    opacity: 0.9;
    color:black;
    font-size: 20px;
    text-align: center;
    text-justify: inherit;
    border-radius: 6px;
    padding: 20px 20px;
    position: absolute;
    z-index: 1;
}
  
.tooltip:hover .tooltip-text {
    visibility: visible;
  }

  
h2{
    font-size: 1.8em;
    color: black;
    font-family: Dosis;
    text-align: center;
    padding: 25px;
    background-color: rgb(34, 151, 19);
}

form{
    /*display: none;*/
    text-align: center;
    padding: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(34, 151, 19);
}

#txt{
    box-align: center;
    display:block;
    width:300px;
    height: 100px;
	padding: 5px;
	font-size:20px;
	color:rgb(34, 151, 19);
	border: 3px solid rgb(34, 151, 19);
    background: black;
    margin: 0 auto;
    resize: none;
    outline:none;
    cursor: text;
}

.offset-label{
    font-size: 18px;
}

#offset{
    text-align: center;
    color:rgb(34, 151, 19);  
    width: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: black;
    background-color: rgb(34, 151, 19);
    border: 3px solid rgb(34, 151, 19);
    outline:none;
}

::selection,input::placeholder {
    background: rgb(34, 151, 19);
    color: black;
}

#option{
    width: 100px;
    padding: 5px;
    font-size: 15px;
    background-color: rgb(34, 151, 19);
    border: 3px solid rgb(34, 151, 19);
    outline:none;
}
#option:hover{
    color: rgb(34, 151, 19);
    background-color: black;
    border: 3px solid rgb(34, 151, 19);
    outline:none;
}

#clear,#copy{
    cursor: pointer;
}

#btn-enviar{
    background: rgb(34, 151, 19);
    color: black;
    width: 150px;
    height: 75px;
    font-size: 20px;
    border: 3px solid rgb(34, 151, 19);
    outline:none;
}

#btn-enviar:hover{
    color: rgb(34, 151, 19);
    background-color: black; 
    border: solid rgb(34, 151, 19);
}

 