*{
    margin: 0;
    padding: 0;
    background-color: black;
 
    
}

::selection {
    background: pink;
    color: black;
}

#txt{
    box-align: center;
    display:block;
    width:400px;
    height: 150px;
	padding: 5px;
	font-size:20px;
	color:#861c2a;
	border: 3px solid #861c2a;
    background: black;
    margin: 0 auto;
    resize: none;
    outline:none;
    cursor: text;
    
}

#clear{
    cursor: pointer;
}
#clear2{
    cursor: pointer;
}

#copy{
    cursor: pointer;
}

#result{
    box-align: center;
    display:block;
    width:400px;
    height: 100px;
    padding: 5px;
	font-size:20px;
	color:#861c2a;
	border: 3px solid #861c2a;
    background: black;
    margin: 0 auto;
    resize: none;
    outline:none;
    cursor: default;
       
}

#resultLabel{
    font-style: italic;
    font-size: 1.2em;
}

#unittype{
    text-align: center;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: black;
    background-color: #861c2a;
    border: 3px solid #861c2a;
    outline:none;

}
#unittype:hover{
    color: #861c2a;
    background-color: black;
    border: 3px solid #861c2a;
    outline:none;

}

#btn-enviar{
    background: #861c2a;
    color: black;
    width: 100px;
    height: 50px;
    font-size: 20px;
    border: 3px solid #861c2a;
    outline:none;
}

#btn-enviar:hover{
    color: #861c2a;
    background-color: black; 
    border: solid #861c2a;
      
}



#offset{
    text-align: center;
    color:#861c2a;  
    width: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: black;
    background-color: #861c2a;
    border: 3px solid #861c2a;
    outline:none;

}

header{
    width: auto;
    height: 5px;
    background: black;
    padding: auto;
    margin: 0px;
    text-align: center;
    
}

h1,p{
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    padding: 50px;
}

h1{
    font-size: 4em;
    color: #a32f3e;
    font-family: Ruda;
    cursor: pointer;
    text-align: center;
    padding: 25px;
    
}

article{
    width: auto;
    height: 800px;
    background: black;
    bottom: auto;
    
}


form{
    /*display: none;*/
    text-align: center;
    color:black;
    padding: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    color: #861c2a;
    background-color: black;
}
.icons{
    color: #861c2a;
        
}

.tooltip {
    /*position: relative;*/
    
    display: inline-block;
    font-size: 4em;
    color: #a32f3e;
    font-family: Ruda;
    cursor: pointer;
    text-align: center;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 520px;
    background-color: pink;
    opacity: 0.8;
    color:black;
    font-size: 20px;
    text-align: center;
    text-justify: inherit;
    border-radius: 6px;
    padding: 20px 20px;
    
    
  
     /*Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
 